header {
    background-color: rgb(249, 219, 121);
    position: fixed;
    z-index: 1;
    width: 100%;
    margin-top: -100px;
}

header .limitar-secao{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

header img {
    width: auto;
    height: 60px;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px;
}

header li {
    font-weight: bold;
}

@media (max-width: 480px) {

    header {
        padding-bottom: 20px;
    }

    header .limitar-secao {
        flex-direction: column;
        padding-bottom: 20px;
    }

    header nav {
        padding: 10px 50px;
        border-top: 1px solid gray;
    }


}
